<footer class="site-footer">
  <div class="container">
    <div class="social-links">
      {% if site.data.socials.email %}
      <a href="mailto:{{ site.data.socials.email }}">
        <i class="fas fa-envelope-square"></i> Email
      </a>
      {% endif %}
      
      {% if site.data.socials.github_username %}
      <a href="https://github.com/{{ site.data.socials.github_username }}">
        <i class="fab fa-github"></i> GitHub
      </a>
      {% endif %}
      
      <!-- Fallback or additional links can be added here -->
    </div>

    <div class="copyright">
      &copy; {{ 'now' | date: '%Y' }} The Design Research Collective. Powered by Jekyll & Minimal Mistakes.
    </div>
  </div>
</footer>
