---
layout: default
---

<div class="container publications-page">
  <div class="publications">
  
    <!-- Publications Header -->
    <div class="publications-header">
      <h1>{{ site.data.publications.header.title }}</h1>
      <p>
        {{ site.data.publications.header.description }}
      </p>
    </div>
  
  {% bibliography %}
  
  </div>
</div>
